
    <div class="container">

        <div class="ui-g">
          <div class="ui-g-12">
            <h1>Pulverizacao Totais</h1>
          </div>

          <div class="ui-g-4">
            <label style="display:block">Data de Pulverizacao</label>
            <input pInputText type="text">
          </div>

          <div class="ui-g-4">
            <label style="display: block">Distrito</label>
            <p-dropdown>

            </p-dropdown>


          </div>

          <div class="ui-g-4">
              <label style="display: block">Base Operacional</label>
              <p-dropdown></p-dropdown>
            </div>

          <div class="ui-g-4">
            <label style="display: block">Localidade</label>
            <p-dropdown></p-dropdown>
          </div>

          <div class="ui-g-4">
            <label style="display: block">Bairro</label>
            <p-dropdown></p-dropdown>
          </div>

          <div class="ui-g-4">
            <label style="display: block">Roceador</label>
            <p-dropdown></p-dropdown>
          </div>

       <table class="table table-condensed-extra table-hover">
          <colgroup>
            <col span="5">
            <col span="4">
            <col span="5">
          </colgroup>

          <thead>
            <tr class="top-headers">
              <th colspan="5">Pulverizadas</th>
              <th colspan="5">Nao Pulverizadas</th>
              <th colspan="2">Compartimentos Elegiveis</th>
            </tr>
            <tr class="secondary-headers">
              <th>Casas Pulverizadas</th>
              <th>Homens</th>
              <th>Mulheres</th>
              <th>Mulheres Gravidas</th>
              <th>Criancas < 5 anos</th>
              <th>Casas nao Pulverizadas</th>
              <th>Homens</th>
              <th>Mulheres</th>
              <th>Mulheres Gravidas</th>
              <th>Criancas < 5 anos</th>
              <th>Encontrados</th>
              <th>Pulverizados</th>

            </tr>
          </thead>
          <tbody>
          <td><input pInputText type="text" ></td>
          <td><input pInputText type="text"></td>
          <td><input pInputText type="text" ></td>
          <td><input pInputText type="text"></td>
          <td><input pInputText type="text" ></td>
          <td><input pInputText type="text"></td>
          <td><input pInputText type="text" ></td>
          <td><input pInputText type="text"></td>
          <td><input pInputText type="text" ></td>
          <td><input pInputText type="text"></td>
          <td><input pInputText type="text" ></td>
          <td><input pInputText type="text"></td>


          </tbody>
    </table>
  </div>
