<div class="container">
    <form>

      <div class="ui-g">
        <div class="ui-g-12">
          <h1>Novo Detalhe de pulverização</h1>
        </div>
        <div class="ui-g-6 ui-md-3 ui-fluid">
          <label>Data de pulverização</label>
          <p-calendar dateFormat="dd/mm/yy"
            [inline]="false" [readonlyInput]="false"
            [showIcon]="false"></p-calendar>
        </div>
        <div class="ui-g-6 ui-md-3 ui-fluid">
          <label>Distrito</label>
          <p-dropdown [options]="distritos" placeholder="Selecione"
            [autoWidth]="false"></p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-3 ui-fluid">
            <label>Base Operacional</label>
            <p-dropdown [options]="bases" placeholder="Selecione"
              [autoWidth]="false"></p-dropdown>
          </div>

          <div class="ui-g-6 ui-md-3 ui-fluid">
            <label>Localidade</label>
            <p-dropdown [options]="localidades" placeholder="Selecione"
              [autoWidth]="false" [filter]="true" ></p-dropdown>
          </div>

          <div class="ui-g-6 ui-md-3 ui-fluid">
            <label>Bairro</label>
            <p-dropdown [options]="bairros" placeholder="Selecione"
              [autoWidth]="false" [filter]="true"></p-dropdown>
          </div>
          <div class="ui-g-12 ui-md-6 ui-fluid">
              <label>Roceador</label>
              <p-dropdown [options]="roceadores" placeholder="Selecione"
                [autoWidth]="false" [filter]="true" ></p-dropdown>
            </div>
            <div class="ui-g-6 ui-md-3 ui-fluid">
              <label>Chefe de equipa</label>
              <p-dropdown [options]="teamLeader" placeholder="Selecione"
                [autoWidth]="false" [filter]="true" ></p-dropdown>
            </div>
            <div class="ui-g-6 ui-md-4 ui-fluid">
                <label>Nome do chefe do agregado familiar</label>
                <input pInputText type="text">
            </div>
            <div class="ui-g-6 ui-md-3 ui-fluid">
                <label>Genero da pessoa entrevistada</label>
                <p-dropdown [options]="genero" placeholder="Selecione"
                  [autoWidth]="false" ></p-dropdown>
              </div>
              <div class="ui-g-6 ui-md-2 ui-fluid">
                <label>Codigo PIDOM</label>
                <p-inputMask mask="9-999999"></p-inputMask>
            </div>
            <div class="ui-g-6 ui-md-3 ui-fluid">
                <label>Situacao de pulverização</label>
                <p-dropdown [options]="situacao" placeholder="Selecione"
                  [autoWidth]="false" ></p-dropdown>
              </div>
            <div class="ui-g-12 ui-md-1 ui-fluid">
                <table class="table table-condensed-extra table-hover table-rensponsive">
                    <colgroup>

                      <col span="5">
                      <col span="5">
                      <col span="2">
                      <col span="1">
                    </colgroup>

                    <thead>
                      <tr class="top-headers">

                        <th colspan="5">Pulverizadas</th>
                        <th colspan="5">Não Pulverizadas</th>
                        <th colspan="2">Compartimentos Elegiveis</th>
                        <th colspan="1">&nbsp;</th>
                      </tr>
                      <tr class="secondary-headers">
                        <th>Casas Pulverizadas</th>
                        <th>Homens</th>
                        <th>Mulheres</th>
                        <th>Mulhrs Gravidas</th>
                        <th>Criancas < 5 anos de idade</th>
                        <th>Casas nao Pulverizadas</th>
                        <th>Homens</th>
                        <th>Mulheres</th>
                        <th>Mulheres Gravidas</th>
                        <th>Criancas < 5 anos de idade</th>
                        <th>Encontrados</th>
                        <th>Pulverizados</th>
                        <th>Codigo de Estudo</th>

                      </tr>
                    </thead>
                    <tbody>
                      <td>
                        <input pInputText type="text"
                        currencyMask [options]="{prefix: '', allowNegative: false}">
                      </td>
                      <td>
                          <input pInputText type="text"
                          currencyMask [options]="{prefix: '', allowNegative: false}">
                      </td>
                      <td>
                          <input pInputText type="text"
                          currencyMask [options]="{prefix: '', allowNegative: false}">
                      </td>
                      <td>
                          <input pInputText type="text"
                          currencyMask [options]="{prefix: '', allowNegative: false}">
                      </td>
                      <td>
                          <input pInputText type="text"
                          currencyMask [options]="{prefix: '', allowNegative: false}">
                      </td>
                      <td>
                          <input pInputText type="text"
                          currencyMask [options]="{prefix: '', allowNegative: false}">
                      </td>
                      <td>
                          <input pInputText type="text"
                          currencyMask [options]="{prefix: '', allowNegative: false}">
                      </td>
                      <td>
                          <input pInputText type="text"
                          currencyMask [options]="{prefix: '', allowNegative: false}">
                      </td>
                      <td>
                          <input pInputText type="text"
                          currencyMask [options]="{prefix: '', allowNegative: false}">
                      </td>
                      <td>
                          <input pInputText type="text"
                          currencyMask [options]="{prefix: '', allowNegative: false}">
                      </td>
                      <td>
                          <input pInputText type="text"
                          currencyMask [options]="{prefix: '', allowNegative: false}">
                      </td>
                      <td>
                          <input pInputText type="text"
                          currencyMask [options]="{prefix: '', allowNegative: false}">
                      </td>


                      <td><p-inputMask mask="9999-999"></p-inputMask></td>
                    </tbody>
              </table>
            </div>
          <div class="ui-g-12">
            <button pButton type="submit" label="Salvar"></button>
            <button pButton type="button" label="Novo" class="ui-button-info"></button>
            <a routerLink="/spray-details">Voltar para a pesquisa</a>
          </div>
        </div>

      </form>
    </div>









